[Unit]
Description=SoftEther VPN Server
After=network.target

[Service]
Type=forking
User=root
Group=root
ExecStart=/opt/vpn/vpnserver/vpnserver start
ExecStop=/opt/vpn/vpnserver/vpnserver stop
Restart=on-failure

[Install]
WantedBy=multi-user.target
